@import '~@fluentui/react/dist/sass/References.scss';

.graphConnector {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  font-family: var(--fontFamilyCustomFont100, var(--fontFamilyBase));
  color: "[theme:bodyText, default: #323130]";
  display: var(--displayMode);
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  h2 {
    margin-top: 0px;
  }
}

.breakContent {
  whiteSpace: normal;
  wordWrap: 'break-word'
}

.error {
  color: red;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}